In [45]:
import numpy as np
import scipy as sp
import scipy.stats
import pandas as pd
import matplotlib.pyplot as plt

In [46]:
data = pd.read_csv('data03_breastcancer.csv')

In [3]:
data.shape

(200, 5000)

In [43]:
data.groupby(['stage']).mean()

,A1BG,A1CF,A2BP1,A2LD1,A2ML1,A2M,A4GALT,A4GNT,AAA1,AAAS,...,"(190, AVG)","(191, AVG)","(192, AVG)","(193, AVG)","(194, AVG)","(195, AVG)","(196, AVG)","(197, AVG)","(198, AVG)","(199, AVG)"
stage,,,,,,,,,,,,,,,,,,,,,
0,7.07904,0.05406,0.47464,6.25415,2.93241,13.76683,8.20864,0.70949,0.06938,9.39613,...,6.510575,6.491543,6.629629,6.483201,6.476902,6.45323,6.693768,6.511218,6.593485,6.544195
1,7.28600,0.15571,0.55944,6.36606,2.83806,13.46062,7.97590,0.52892,0.05197,9.45529,...,6.510575,6.491543,6.629629,6.483201,6.476902,6.45323,6.693768,6.511218,6.593485,6.544195

In [40]:
aa = 0.0
    
for i in range(1,5000):
    data['AVG',i] = data.iloc[:,i].mean()

In [47]:
df = pd.read_csv('data03_breastcancer.csv')
d1 = df[ df['stage']==0 ]
d2 = df[ df['stage']==1 ]
sp.stats.ttest_ind(d1['DCT'],d2['DCT'])

Ttest_indResult(statistic=1.4519571044067154, pvalue=0.14809624255340825)

In [49]:
%matplotlib inline

In [50]:
df = pd.read_csv('data04_carseat.csv')

In [51]:
print(sp.stats.pearsonr(df['Sales'],df['CompPrice'])[1])

0.030252170801711685

In [52]:
d1 = df[df['ShelveLoc'] =='Bad']
d2 = df[df['ShelveLoc'] =='Medium']
d3 = df[df['ShelveLoc'] =='Good']
print(sp.stats.f_oneway(d1['Sales'],d2['Sales'],d3['Sales']))

F_onewayResult(statistic=30.84136704786565, pvalue=4.292792406043025e-11)

In [53]:
df.head()

,Sales,SalesBin,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,High,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,High,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,High,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,Low,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,Low,141,64,3,340,128,Bad,38,13,Yes,No