## Python
* creator : [Guido van Rossum](https://en.wikipedia.org/wiki/Guido_van_Rossum), 1989
* [What is Pythonic?](https://blog.startifact.com/posts/older/what-is-pythonic.html)
* Interpreter 방식 : script language


## Python Tutorials

<ul>
  <li><a href="https://www.w3schools.com/python/" target="_blank">W3 School :  Python Tutorial</a> </li>
  <li><a href="https://perso.limsi.fr/pointal/_media/python:cours:mementopython3-english.pdf" target="_blank">Python 3 Cheat Sheet</a> </li>
    <li><a href="https://thepythonguru.com" target="_blank">
https://thepythonguru.com
</a> </li>
    <li><a href="https://docs.python.org/3/tutorial/" target="_blank">
https://docs.python.org/3/tutorial/
</a> </li>
</ul>

> Copyright (c) 2018 Hugon Kim(Ph.D) <br>
> [good47906@gmail.com](mailto:good47906@gmail.com) <br>
> [(주)에이옵트)](http://aopt.biz" target="_blank)<br>
> [mdhub.io](https://mdhub.io)

## Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

In [1]:
a = 33
b = 200
if b > a: print("b is greater than a")

b is greater than a

In [2]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [3]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [4]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [9]:
a = 200
b = 333
if b > a:
    pass
else:
  print("a is greater than b")

# The while Loop

In [10]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

# loop에서 하위문의 실행중지
* `break`는 loop를 종료함
* `continue`는 loop의 처음으로 돌아감

In [11]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
    i += 1 
    if i == 3:
        continue
    print(i)

In [12]:
list1=[i for i in range(20)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [17]:
# [표현식 for 요소 in 컬렉션 [if 조건식]]
# 표현식은 1개의 명령무
list1 = [n ** 2 for n in range(10) if n % 3 == 0]

In [16]:
list1=[]
for n in range(10):
    if n % 3 == 0:
        list1.append(n ** 2)
list1

[0, 9, 36, 81]

In [19]:
list1=[i for i in range(20)]
list1[3:9]

[3, 4, 5, 6, 7, 8]

# slice에서 건너뛰기

In [20]:
list1[3:9:2]

[3, 5, 7]

In [21]:
range(5)

range(0, 5)

In [22]:
for x in range(2,8):
    print(x)

2
3
4
5
6
7

In [23]:
for x in range(2,12,3):
    print(x)

2
5
8
11

# Python For Loops

In [24]:
for x in range(5):
    print(x)

0
1
2
3
4

In [25]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [26]:
## Increment the sequence with 3 (default is 1):
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [27]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
      print(x)

apple
banana
cherry

In [28]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [29]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [30]:
fruits = ["apple", "banana", "cherry",'a','b','c','d','e']
print(fruits[::2])
print(fruits[::2][:-1])

['apple', 'cherry', 'b', 'd']
['apple', 'cherry', 'b']

In [34]:
mydict=dict(key1='value1',key2='value2',key3=[2,3,3,7],key4='value4')
for k, v in mydict.items():
    print(k,v)

key1 value1
key2 value2
key3 [2, 3, 3, 7]
key4 value4

In [35]:
mydict.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', [2, 3, 3, 7]), ('key4', 'value4')])

In [39]:
#fruitset = set("apple", "banana", "cherry",'a','b','c','d','e')
fruitset ={"apple", "banana", "cherry",'a','b','c','d','e'}
for x in fruitset:
    print(x)

apple
b
d
cherry
c
a
banana
e

# Creating a Function

In [40]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

# 함수에 대한 도움말
* 다음과 같이 `list1.` 을 입력하고 Tab을 누르면, list에 대한 함수를 보여줌
* list1.count를 선택하고 Shift-Tab을 누르면, count함수에 대한 도움말(인수)이 나옴

In [76]:
list1=[1,5,7,3,3]
list1.count

2

In [ ]:
import pandas as pd
pd.read_csv

In [78]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")
my_function()

Emil Refsnes
Tobias Refsnes
Linus Refsnes

TypeError: my_function() missing 1 required positional argument: 'fname'

# 함수의 인수값을 정하는 것을 parameter(또는 option)를 지정(설정)이라 함
* 함수에서 기본으로 설정된 값을 default(초기값, 초기설정치)라고 함
* 기본값이 주어진 parameter와 사용자가 꼭 입력을 해야하는 필수 parameter로 구분됨
* 기본값이 주어진 parameter를 설정할때, 이들 간의 호출 순서는 없음
* 필수 parameter는 사용자가 순서를 지켜서 입력하거나 parameter의 name을 지정하면 됨

In [52]:
def my_function(country = "Korea"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden city kkk dong ddd
I am from India city Daejon dong ddd
I am from Korea city Daejon dong ddd
I am from Brazil city Daejon dong ddd

In [ ]:
def my_function(dong, country = "Korea",city="Daejon"):
  print("I am from " + country + ' city '+city + ' dong '+dong)

my_function(dong='ddd', country ="Sweden", city="kkk")
my_function(dong='ddd', country ="India")
my_function(dong='ddd')
my_function(dong='ddd',country ="Brazil" )

In [81]:
def my_function(x):
    if x==3:
        return [pp for pp in range(x)]
    x=x+1
    print(x)
    if (x%2):
        return 5*x
    else: 
        return x**2

print(my_function(3))
print(my_function(5))
print(my_function(9))

[0, 1, 2]
6
36
10
100

In [45]:
# reverse()는 list에서 제공하는 함수
a=[3,9,10,2]
a.reverse()
a

[2, 10, 9, 3]

# Python Lambda
* A lambda function is a small anonymous function.
* A lambda function can take any number of arguments, but can only have one expression.
* The power of lambda is better shown when you use them as an anonymous function inside another function.

In [53]:
x = lambda a : a + 10
print(x(5))

15

In [56]:
def abc(a):
    return a+10

print(abc(5))

15

In [54]:
x = lambda a, b : a * b
print(type(x))
print(x(5, 6))

<class 'function'>
30

In [ ]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
print(type(mydoubler))
print(mydoubler(11))

In [82]:
def myfunc(n):
      return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11)) 
print(mytripler(11))

22
33

# Recursion

In [83]:
def factorial(n):
    """Function to return the factorial
    of a number using recursion"""
    if n == 0:
        return 1
    else:
        return n*factorial(n-1)

factorial(7)

5040

# Python Classes/Objects

In [57]:
# create class
class MyClass:
    x = 5

# Create an object named p1, and print the value of x:
p1 = MyClass()
print(p1.x)

5

In [ ]:
p1.

In [58]:
# All classes have a function called __init__(), which is always executed when the class is being initiated.
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [59]:
# Objects can also contain methods. Methods in objects are functions that belongs to the object.
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
p1.

# The self Parameter
* The self parameter is a reference to the class itself, and is used to access variables that belongs to the class.
* It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

In [ ]:
## modify the age of p1 to 40
p1.age = 40

# Delete the age property from the p1 object
del p1.age

# Delete the p1 object
del p1

# Python Iterators
* Lists, tuples, dictionaries, and sets are all iterable objects. 
* They are iterable containers which you can get an iterator from.
* All these objects have a iter() method which is used to get an iterator:

In [60]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [84]:
#  Strings are also iterable objects, containing a sequence of characters
mystr = "banana"
print(mystr[:3])
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

ban
b
a
n
a
n
a

In [85]:
#  Iterate the values of a tuple:

mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [86]:
# Iterate the characters of a string:

mystr = "banana"

for x in mystr:
    print(x)

b
a
n
a
n
a

In [64]:
colors = ["red", "green", "blue", "purple"]
for x in colors:
    print(x)

red
green
blue
purple

In [87]:
presidents = ["Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson"]
for i, value in enumerate(presidents):
    print("President {}: {}".format(i+1, value))

President 1: Washington
President 2: Adams
President 3: Jefferson
President 4: Madison
President 5: Monroe
President 6: Adams
President 7: Jackson

In [88]:
dict(enumerate(presidents))

{0: 'Washington',
 1: 'Adams',
 2: 'Jefferson',
 3: 'Madison',
 4: 'Monroe',
 5: 'Adams',
 6: 'Jackson'}

# Python’s zip function allows us to loop over multiple lists at the same time:

In [89]:
colors = ["red", "green", "blue", "purple"]
ratios = [0.2, 0.3, 0.1, 0.4]
print(dict(zip(colors, ratios)))
for color, ratio in zip(colors, ratios):
    print("{}% {}".format(ratio * 100, color))

{'red': 0.2, 'green': 0.3, 'blue': 0.1, 'purple': 0.4}
20.0% red
30.0% green
10.0% blue
40.0% purple

In [90]:
# iterating tuple

T=(10,20,30,40,50)
for var in T:
  print (T.index(var),var)

0 10
1 20
2 30
3 40
4 50

In [91]:
# iterating dict

d = {'x': 1, 'y': 2, 'z': 3} 
for key, value in d.items():
    print('{1} corresponds to {0}'.format(key, value))
for key, value in d.items():
    print('{0} corresponds to {1}'.format(key, value))

1 corresponds to x
2 corresponds to y
3 corresponds to z
x corresponds to 1
y corresponds to 2
z corresponds to 3

# Python Modules
* Consider a module to be the same as a code library.
* A file containing a set of functions you want to include in your application.

In [ ]:
# Save this code in a file named mymodule.py
def greeting(name):
    print("Hello, " + name)

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

In [92]:
# Import the module named mymodule, and call the greeting function:

import mymodule

mymodule.greeting("Jonathan")
a = mymodule.person1["age"]
print(a)

Hello, Jonathan
36

In [ ]:
# Create an alias for mymodule called mx:
import mymodule as mx

a = mx.person1["age"]
print(a)

# Import From Module

In [ ]:
from mymodule import person1

print (person1["age"])

# Built-in Modules

In [93]:
import platform

x = platform.system()
print(x)
x = dir(platform)
print(x)

Linux
['DEV_NULL', '_UNIXCONFDIR', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_default_architecture', '_dist_try_harder', '_follow_symlinks', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_linux_distribution', '_lsb_release_version', '_mac_ver_xml', '_node', '_norm_version', '_parse_release_file', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_release_filename', '_release_version', '_supported_dists', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_uname', '_syscmd_ver', '_uname_cache', '_ver_output', 'architecture', 'collections', 'dist', 'java_ver', 'libc_ver', 'linux_distribution', 'mac_ver', 'machine', 'node', 'os', 'platform', 'popen', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'subprocess', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'warnings', 'win32_ver']

In [94]:
import sys
sys.path

['',
 '/home/hgkim11/anaconda3/lib/python36.zip',
 '/home/hgkim11/anaconda3/lib/python3.6',
 '/home/hgkim11/anaconda3/lib/python3.6/lib-dynload',
 '/home/hgkim11/anaconda3/lib/python3.6/site-packages',
 '/home/hgkim11/anaconda3/lib/python3.6/site-packages/Mako-1.0.7-py3.6.egg',
 '/home/hgkim11/anaconda3/lib/python3.6/site-packages/dlib-19.6.0-py3.6-linux-x86_64.egg',
 '/home/hgkim11/anaconda3/lib/python3.6/site-packages/torchvision-0.2.1-py3.6.egg',
 '/home/hgkim11/anaconda3/lib/python3.6/site-packages/IPython/extensions',
 '/home/hgkim11/.ipython']

# Python Dates

In [99]:
import datetime

x = datetime.datetime.now()
print(x)
print(type(x))
print(x.year)
engToHan={'Monday':'월',''}
print(x.strftime("%Y-%m-%d, %A"))

2018-09-05 11:40:03.531088
<class 'datetime.datetime'>
2018
2018-09-05, Wednesday

In [101]:
eng=[datetime.datetime(2018, 8, a+3) for a in range(7)]
eng

[datetime.datetime(2018, 8, 3, 0, 0),
 datetime.datetime(2018, 8, 4, 0, 0),
 datetime.datetime(2018, 8, 5, 0, 0),
 datetime.datetime(2018, 8, 6, 0, 0),
 datetime.datetime(2018, 8, 7, 0, 0),
 datetime.datetime(2018, 8, 8, 0, 0),
 datetime.datetime(2018, 8, 9, 0, 0)]

In [103]:
eng=[datetime.datetime(2018, 8, a+6).strftime("%A") for a in range(7)]
eng

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [105]:
han=['월','화','수','목','금','토','일']
dict(zip(eng,han))

{'Friday': '금',
 'Monday': '월',
 'Saturday': '토',
 'Sunday': '일',
 'Thursday': '목',
 'Tuesday': '화',
 'Wednesday': '수'}

In [106]:
eng=[datetime.datetime(2018, a+1, 1).strftime("%B") for a in range(12)]
eng

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [107]:
import datetime

x = datetime.datetime.now()
y = datetime.datetime(2020, 5, 17,10,11,11)
print(y.year-x.year)
print(x)

2
2018-09-05 12:03:48.864560

In [108]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%b"))
print(x.strftime("%Y"))

Jun
2018

# JSON in Python
* JSON (JavaScript Object Notation) : [http://json.org/](http://json.org/)

In [115]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York", "arr":[4,9,8]}'
print(type(x))
# parse x:
y = json.loads(x)
print(type(y))
# the result is a Python dictionary:
print(y["age"])
y

<class 'str'>
<class 'dict'>
30

{'age': 30, 'arr': [4, 9, 8], 'city': 'New York', 'name': 'John'}

In [116]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "tupetest" : ('a','b','c'),  
  "city": "New York"
}
print(type(x))
# convert into JSON:
y = json.dumps(x)
print(type(y))
# the result is a JSON string:
print(y)

<class 'dict'>
<class 'str'>
{"name": "John", "age": 30, "tupetest": ["a", "b", "c"], "city": "New York"}

In [121]:
set(("apple", "bananas"))

{'apple', 'bananas'}

In [136]:
num_set = set([0, 1, 2, 3, 4, 5])
type(num_set)
list1=[n for n in num_set]
type(list1)
list1

[0, 1, 2, 3, 4, 5]

In [122]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
#print(json.dumps(set(("apple", "bananas"))))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [130]:
# Convert a Python object containing all the legal data types:


import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x, cls=PythonObjectEncoder))

TypeError: 'list' object is not callable

In [126]:
json.dumps(x, indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [127]:
json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'