## Python
* creator : [Guido van Rossum](https://en.wikipedia.org/wiki/Guido_van_Rossum), 1989
* [What is Pythonic?](https://blog.startifact.com/posts/older/what-is-pythonic.html)
* Interpreter 방식 : script language


## Python Tutorials

<ul>
  <li><a href="https://www.w3schools.com/python/" target="_blank">W3 School :  Python Tutorial</a> </li>
  <li><a href="https://perso.limsi.fr/pointal/_media/python:cours:mementopython3-english.pdf" target="_blank">Python 3 Cheat Sheet</a> </li>
    <li><a href="https://thepythonguru.com" target="_blank">
https://thepythonguru.com
</a> </li>
    <li><a href="https://docs.python.org/3/tutorial/" target="_blank">
https://docs.python.org/3/tutorial/
</a> </li>
</ul>

> Copyright (c) 2018 Hugon Kim(Ph.D) <br>
> [good47906@gmail.com](mailto:good47906@gmail.com) <br>
> [(주)에이옵트)](http://aopt.biz" target="_blank)<br>
> [mdhub.io](https://mdhub.io)

## Python Collections (Arrays)

* List is a collection which is ordered and changeable. Allows duplicate members.  
   *  ["apple", "banana", "cherry", "apple"]
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
   * ("apple", "banana", "cherry", "apple")
* Set is a collection which is unordered and unindexed. No duplicate members.
   * {"apple", "banana", "cherry"}
* Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.
   * {  "apple": "green",  "banana": "yellow",  "cherry": "red"}

## List

In [1]:
thislist = ["apple", "banana", "cherry", "apple"]
print(thislist)

['apple', 'banana', 'cherry', 'apple']

In [2]:
thislist = ["apple", "banana", "cherry", "apple"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry', 'apple']

In [4]:
## list constructor
thislist = list(("apple", "banana", "cherry", "apple")) # note the double round-brackets
print(thislist)
thislist.append("1damson")
print(thislist)
thislist.append("damson")
print(thislist)
thislist.append("damson")
print(thislist)
thislist.remove("banana")
print(thislist)
print(len(thislist))
thislist.pop()
print(thislist)

['apple', 'banana', 'cherry', 'apple']
['apple', 'banana', 'cherry', 'apple', '1damson']
['apple', 'banana', 'cherry', 'apple', '1damson', 'damson']
['apple', 'banana', 'cherry', 'apple', '1damson', 'damson', 'damson']
['apple', 'cherry', 'apple', '1damson', 'damson', 'damson']
6
['apple', 'cherry', 'apple', '1damson', 'damson']

In [12]:
a = []     # 빈 리스트
a = ["AB", 10, False, True]

#  리스트 인덱싱(Indexing)
* 리스트의 특정 한 요소만을 선택하기 위하여 인덱싱(Indexing)을 사용 
* 첫번째요소는 "리스트[0]", 두번째 요소는 "리스트[1]" 처럼 표현
* 인덱스에 -1, -2 같은 음수를 사용할 수 있다는 점이다. 이 때, -1은 현재 리스트의 마지막 요소를, -2는 뒤에서 두번째 요소를 가리킴

In [14]:
a = ["AB", 3, 5, 7, 10, 12, False]
x = a[1]        # a의 두번째 요소 읽기
print(x)
a[1] = "Test"   # a의 두번째 요소 변경
print(a)
y = a[-1]       # -1은 맨마지막 요소
print(y)

3
['AB', 'Test', 5, 7, 10, 12, False]
False

# 리스트 슬라이싱(Slicing)
* 리스트에서 일부 부분 요소들을 선택하기 위하여 슬라이스(Slice)를 사용
* 슬라이스는 "리스트[처음인덱스:마지막인덱스]"와 같이 인덱스 표현에서 부분집합의 범위를 지정하는 것
    * "리스트[처음인덱스:마지막인덱스]"에서 처음인덱스 부터 시작하여, 마지막인덱스 -1 까지를 의미
    * 즉 마지막 인덴스는 제외됨
* 만약 처음 인덱스가 생략되면, 0 부터 시작되며, 마지막 인덱스가 생략되면, 리스트의 끝까지 포함됨을 의미한다.

In [24]:
a = [1, 3, 5, 7, 10, 20, 30, 40]
x = a[1:3]     # [3, 5]
x = a[:2]      # [1, 3]
x = a[3:]      # [7, 10, 20, 30, 40]
print(x)

[7, 10, 20, 30, 40]

# coding
* print문은  `print(a)` 입니다.

```python
my_list = [1,2,3,4]
doubled = [num * 2 for num in my_list]
def odds(lst):
    return [num for num in lst if num%2==1]

print(my_list)
print(doubled)
print(odds(my_list))
```

In [15]:
a[-1]

False

In [16]:
a[:-1]

['AB', 'Test', 5, 7, 10, 12]

In [17]:
a[:-1][1:5]

['Test', 5, 7, 10]

In [18]:
a[:-1][1:5][::-1]

[10, 7, 5, 'Test']

In [19]:
a[:-1][1:5][::-2]

[10, 5]

In [20]:
a[:-1][1:5][2]

7

In [21]:
a[::3]

['AB', 7, False]

In [22]:
a[1:-2:2]

['Test', 7]

In [ ]:
a[::2]

In [ ]:
a[::-2]

In [ ]:
a[::-1]

In [26]:
list_in_list = [1, 2, ['a', 'b', ['Life', 'is']]]
list_in_list[2]

['a', 'b', ['Life', 'is']]

In [27]:
list_in_list[2][2]

['Life', 'is']

In [28]:
list_in_list[2][2][1]

'is'

# 리스트 연산자

In [29]:
a = [1, 2, 3]
b = [4, 5, 6]
a+b

[1, 2, 3, 4, 5, 6]

In [37]:
a = [1, 2, 2, 3, 3]
b = [2, 5, 6]
print(set(a))
list(set(a) & set(b))  # 교집합(intersection)

{1, 2, 3}

[2]

In [36]:
list(set(a) | set(b))   # 합집합(union)

[1, 2, 3, 5, 6]

In [39]:
a=[1,4,5]
a * 3

[1, 4, 5, 1, 4, 5, 1, 4, 5]

# 리스트의 수정, 변경과 삭제, 정렬, 인덱스

In [41]:
a=[1,4,5]
a[1]=20
a

[1, 20, 5]

In [42]:
del a[1]
a

[1, 5]

In [ ]:
a=[]  # 빈 리스트

In [43]:
a = [1, 2, 3]
a.append(4)

In [45]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

# list의 순서 변경
* `b.sort()`와 `b.reverse()` 는 `b` 자체를 변경시킴
* 반면에 `b[::-1]`는 다른 list를 만들지만, b자체는 바뀌지 않음

In [50]:
b = [1, 4, 3, 2, 7]
b.reverse()
b

[7, 2, 3, 4, 1]

In [51]:
b = [1, 4, 3, 2, 7]
print(b[::-1])
b

[7, 2, 3, 4, 1]

[1, 4, 3, 2, 7]

In [52]:
b = [1, 4, 3, 2, 7]
c=b[::-1]    #  b[::-1]는 b에 의해서 만들어진 새로운 리스트이지, b와는 관계가 없음
print(b,c)

[1, 4, 3, 2, 7] [7, 2, 3, 4, 1]

In [53]:
b.append(100)
print(b,c)

[1, 4, 3, 2, 7, 100] [7, 2, 3, 4, 1]

In [58]:
c = [1, 4, 3, 7, 2, 7, 9, 3]
c.index(7)

3

In [61]:
c = [1, 4, 3, 7, 2, 7, 9, 3]
print('before',c)
c.insert(0, 4) 
print('after',c)

before [1, 4, 3, 7, 2, 7, 9, 3]
after [4, 1, 4, 3, 7, 2, 7, 9, 3]

In [64]:
# pop()은 리스트의 맨 마지막 요소를 돌려 주고 그 요소는 삭제하는 함수
c = [1, 4, 3, 7, 2, 7, 9, 3]
print('before',c)
c.remove(7)
print('after',c)

before [1, 4, 3, 7, 2, 7, 9, 3]
after [1, 4, 3, 2, 7, 9, 3]

In [65]:
c = [1, 4, 3, 7, 2, 7, 9, 3]
c.pop()
c

[1, 4, 3, 7, 2, 7, 9]

# 리스트의 복사

In [6]:
c = [1, 4, 3, 7, 2, 7, 9, 3]
d=c
d
c

[1, 4, 3, 7, 2, 7, 9, 3]

In [7]:
d[0]=400
print(d)
print(c)

[400, 4, 3, 7, 2, 7, 9, 3]
[400, 4, 3, 7, 2, 7, 9, 3]

In [8]:
c[1]=100
print(d)
print(c)

[400, 100, 3, 7, 2, 7, 9, 3]
[400, 100, 3, 7, 2, 7, 9, 3]

서로 분리하여 카피하는 것을 딥카피라고 한다.

##  Tuple
* A tuple is a collection which is ordered and <span style="color:blue;font-size:20px;">immutable</span> 
* ordered : index를 가짐
* immutable(unchangeble) : 값을 변경할 수 없음을 말함

In [66]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [67]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[:2])
thistuple[1]='kkk'   #  immutable이므로 할당이 안되어, 오류가 발생함

banana
('apple', 'banana')

TypeError: 'tuple' object does not support item assignment

In [68]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant" # test changeability
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [69]:
# The tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)
print(len(thistuple))

('apple', 'banana', 'cherry')
3

In [70]:
list2=list(thistuple)
list2

['apple', 'banana', 'cherry']

In [71]:
list2[2]='kkkk'
list2

['apple', 'banana', 'kkkk']

In [72]:
list3=list2

In [73]:
list3

['apple', 'banana', 'kkkk']

In [74]:
list3[1]='ppp'
list3

['apple', 'ppp', 'kkkk']

In [75]:
list2

['apple', 'ppp', 'kkkk']

## Set
* A set is a collection which is unordered and unindexed

In [76]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [77]:
## The set() Constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [78]:
thisset = set(("apple", "banana", "cherry"))
thisset.add("damson")
thisset

{'apple', 'banana', 'cherry', 'damson'}

In [80]:
thisset.add("abc")
thisset

{'abc', 'apple', 'banana', 'cherry', 'damson'}

In [81]:
thisset.add([1,2,3])

TypeError: unhashable type: 'list'

In [84]:
thisset.add((1,2,3))
thisset

{(1, 2, 3), 'abc', 'apple', 'banana', 'cherry', 'damson'}

In [85]:
list1=[3,5,9]
list1.append((9,2,6))
list1

[3, 5, 9, (9, 2, 6)]

In [86]:
list1.append({9,2,6})
list1

[3, 5, 9, (9, 2, 6), {2, 6, 9}]

In [87]:
thisset = set(("apple", "banana", "cherry"))
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [88]:
thisset.add("damson")
thisset

{'apple', 'cherry', 'damson'}

## Dictionary
* A dictionary is a collection which is unordered, changeable and indexed
* key와 value의 쌍으로 구성됨
* 키(Key)로 신속하게 값(Value)을 찾아내는 해시테이블(Hash Table) 구조

In [89]:
thisdict ={
  "apple": "green",
  "banana": "yellow",
  "cherry": "red"
}
print(thisdict)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

In [90]:
thisdict ={
  "apple": "green",
  "banana": "yellow",
  "cherry": "red"
}
thisdict["apple"] = "red"
print(thisdict)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red'}

In [91]:
## The dict() Constructor
thisdict=dict(apple="green", banana="yellow", cherry="red")
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

In [92]:
thisdict =dict(apple="green", banana="yellow", cherry="red")
thisdict["damson"] = "purple"
print(thisdict)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red', 'damson': 'purple'}

In [93]:
thisdict =dict(apple="green", banana="yellow", cherry="red")
del(thisdict["banana"])
print(thisdict)

{'apple': 'green', 'cherry': 'red'}

In [94]:
thisdict=dict(apple="green", banana="yellow", cherry="red")
print(len(thisdict))

3

In [95]:
thisdict['mylist']=[3,2,9]
thisdict

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red', 'mylist': [3, 2, 9]}

In [96]:
thisdict['mytuple']=('a','b','c')
thisdict

{'apple': 'green',
 'banana': 'yellow',
 'cherry': 'red',
 'mylist': [3, 2, 9],
 'mytuple': ('a', 'b', 'c')}

In [97]:
thisdict['myset']={'a1','b1','c1'}
thisdict

{'apple': 'green',
 'banana': 'yellow',
 'cherry': 'red',
 'mylist': [3, 2, 9],
 'myset': {'a1', 'b1', 'c1'},
 'mytuple': ('a', 'b', 'c')}

In [98]:
thisdict['mydict']=dict(abc="abc", def1="def", cherry="red")
thisdict

{'apple': 'green',
 'banana': 'yellow',
 'cherry': 'red',
 'mydict': {'abc': 'abc', 'cherry': 'red', 'def1': 'def'},
 'mylist': [3, 2, 9],
 'myset': {'a1', 'b1', 'c1'},
 'mytuple': ('a', 'b', 'c')}